
@{
    ViewBag.Title = "Images";
}

<h2>Images</h2>
@{
    //var base64 = Convert.ToBase64String(ViewBag.ImageData);
    //var imgSrc = String.Format("data:image/png;base64,{0}", base64);
}


<table>
    
        @foreach (var layer in ViewBag.Layers)
        {
            <tr>
                <td>
                    @layer.Title
                    
                </td>
                <td>
                    @Html.ActionLink("Get image", "Image", new { id=ViewContext.RouteData.Values["id"],layerTitle=layer.Name }, null)
                </td>
            </tr>
        }
    
</table>
