
@{
    ViewBag.Title = "Images";
}

<h2>Images</h2>
@{
    var base64 = Convert.ToBase64String(ViewBag.ImageData);
    var imgSrc = String.Format("data:image/png;base64,{0}", base64);
}

<img src="@imgSrc" />