
@{
    ViewBag.Title = "Image";
}

<h2>Image</h2>

@{
var base64 = Convert.ToBase64String(ViewBag.ImageData);
var imgSrc = String.Format("data:image/png;base64,{0}", base64);
}

<img width="240" height="240" src="@imgSrc" />