@model MapsProposal.Models.AdminViewModel

@{
    ViewBag.Title = "Admin";
}

<h2>Users</h2>
<table>
    @foreach (var user in Model.Users)
    {

        <tr>
            <td>
                @Html.ActionLink("Summary", "Edit", new { id = user.Id })
            </td>
            <td>@user.Email</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
        </tr>

    }
</table>